@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    z-index: 3;
    font-family: 'Noto Sans KR';
    background-color: rgb(59, 39, 59); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    left:0;
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  .navbar ul {
    
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 600;
    color:white;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  
  
  .navbar a:hover, .navbar li:hover > a {
    color: #b529d1;
    font-weight: bold;
  }
  
  

  /*-------------------------------------------------------
  ------------------------ BOTON VER ARCHIVO --------------
  ------------------------------------------------------------*/

  .get-started-btn {
    color: white;
    letter-spacing: 2px;
    font-weight: 200;
    background:rgba(193, 152, 248, 0.959);
    border-radius: 4px;
    position:fixed;
    left:88%;
    top:10px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 12px;
    display: inline-block;
    border: 2px solid transparent;
    z-index: 30;
    font-family:'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
  }
  
  .get-started-btn:hover {
    background: #cff8ff;
    border-color: #cff8ff;
    color: black;
  }
  

    