@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');


nav{
  z-index: 3;
}


*{
margin:0;
padding:0;}

body {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* -----------------------------------------HEADER -----------------------*/
aside {
  margin-top:2.3%; /*Esto es para la barra de navegacion*/
    background-color: #1CD1B0;
    font-size: 20px;
    margin-bottom: 0;
    padding: 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

header{
    background-color: #00669F;
    position:sticky;
    padding:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 ,.nombre{
    position:relative;
    top:-20px;
    color:white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display:inline;
    margin:20px;
}

/*------------------------A partir de Login--------------------------------*/

.login{
    background-color: #fff;
    margin-top:5%;
    margin-left:28%;
    max-width: 400px;
    padding: 20px;
}

h1{
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 72px;
padding-bottom: 55px;
color: #333333;

}

::placeholder{
font-family: 'Karla';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #000000;
}

/*---------------------------------------INPUT ---------------------------*/
input {
    width: 100%;
    margin: 10px auto;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 26px;
    width: 620px;
    
    
}
#boton {
width: 614.25px;
height: 53.79px;
background: #1CD1B0;
border-radius: 23.011px;
border-color: transparent;
margin-top: 64px;

}

.btn{
    font-family:'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 0px;
    color: #000000;
}

.rgt{ 
    
padding-top: 20px;

position: absolute;
padding-left:120px;
text-align: center;

   

}
.Texto-Registro{
text-decoration: none;

font-family: 'Karla';
font-style: normal;
font-weight: normal;
font-size: 21.4769px;
line-height: 28px;
color:black; 

}
/* -----------------------Parte de links--------------------*/
a{
    text-decoration:none;
     color: #00669F;
}

a:hover {
    color: hotpink;
  }

/*- ------------------------------- Footer --------------------------------*/

footer{
    background-color: #00669F;
    margin-top:10%;
    bottom:0;
    clear:both;
    width:100%;
    height:70px;
 
    
}

p{
    color:white;
    text-align:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 70px;
    
}
.txt-foot{
    margin-left:40px;
   
    
}


.adicional{
  margin-left: 50px;
}
  
  

 


    